@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Regular";
  src: url("/fonts/regular/OpenSauceOne-Medium.eot");
  src: url("/fonts/regular/OpenSauceOne-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/regular/OpenSauceOne-Medium.woff2") format("woff2"),
    url("/fonts/regular/OpenSauceOne-Medium.woff") format("woff"),
    url("/fonts/regular/OpenSauceOne-Medium.ttf") format("truetype");
  font-weight: 400; /* for bold, change to 900*/
  font-style: normal;
}

@font-face {
  font-family: "Bold";
  src: url("/fonts/tt/TTTrailersTrial-Db.eot");
  src: url("/fonts/tt/TTTrailersTrial-Db.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/tt/TTTrailersTrial-Db.woff2") format("woff2"),
    url("/fonts/tt/TTTrailersTrial-Db.woff") format("woff"),
    url("/fonts/tt/TTTrailersTrial-Db.ttf") format("truetype");
  font-weight: 400; /* for bold, change to 900*/
  font-style: normal;
}
/*
@font-face {
  font-family: "Bold";
  src: url("/fonts/bold/BebasNeue-Regular.eot");
  src: url("/fonts/bold/BebasNeue-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/bold/BebasNeue-Regular.woff2") format("woff2"),
    url("/fonts/bold/BebasNeue-Regular.woff") format("woff"),
    url("/fonts/bold/BebasNeue-Regular.ttf") format("truetype");
  font-weight: 400; /* for bold, change to 900
  font-style: normal;
} */

* {
  font-family: "Regular";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

html {
  font-size: 0.69444vw;
  overscroll-behavior: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  color: #777;
  font-weight: 500;
  min-height: 100vh;
  font-size: 1.6rem;
  background: #111;
}

h1,
h2,
h3,
.bold-font {
  font-family: "Bold";
  font-weight: normal;
}

.wrap {
  padding-left: 4rem;
  padding-right: 4rem;
}

.wrap-m {
  margin-left: 4rem;
  margin-right: 4rem;
}

.very-big-font {
  font-size: 20em;
  /* letter-spacing: -13px; */
  line-height: 0.85;
}

a {
  color: #777;
}

a:hover {
  color: #e7f870;
}

.very-big-font:hover {
  color: #aaa;
}

.no-hover-effect:hover {
  color: inherit !important;
}

.anim-marquee {
  animation: marquee 25s linear infinite;
  /* animation: marquee duration timing-function delay iteration-count direction fill-mode; */
  /* transition: all;
  transition-duration: ; */
}

.anim-marquee:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

.swipe-up {
  opacity: 0;
  transform-origin: center top;
  transform: translateY(100%) rotateX(-80deg);
  transition: opacity 0s cubic-bezier(0.215, 0.61, 0.355, 1),
    transform 0s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.swipe-up.is-inview {
  opacity: 1;
  transform: none;
  transition-delay: 0.1s;
  transition-duration: 0.8s;
}

.bar {
  width: 100%;
  position: relative;
  transition: all ease-in 0.5s;
}

.from-left {
  left: -100%;
}

.from-left.is-inview {
  left: 0;
}

.from-right {
  right: -100%;
}

.from-right.is-inview {
  right: 0;
}

.the-item {
  transform: translateY(60px);
  opacity: 0;
  transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1),
    transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.the-item.is-inview {
  transform: none;
  opacity: 1;
  transition-delay: 0.1s;
}
